/*#UserName {
	text-align: center;
	border: 0px solid lime;
	background-color: lime;
	color: white;
	width: 400px;
	min-height: 30px;
	min-width: 400px;
	border-radius: 18px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 50px; margin-bottom: 50px;
	padding: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/

h1 {
	color: #1b93e8;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: #1b93e8;
	font-size: 30px;
	font-weight: bold;
}

#Karl_Marks {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.member:hover {
	color: #0d9ce5;
	font-weight: bold;
}

#Albert_neponel {
	float: right;
	margin-bottom: 50px;
}

p {
	font-size: 21px;
	
}

#Hello {
	font-weight: 900;
	font-size: 27px;
	color: #fd9414;
}

#music {
	border: 0px solid #a9a9a9;
	border-radius: 30px;
	background-color: #a9a9a9;
	color: white;
	max-width: 23%;
	margin-left: 2%;
	padding: 40px;
	box-shadow: 20px 20px 5px gray;
	height: 200px;
}

.music_A {
	color: white;
	font-weight: 900;
	font-size: 23px;
}
.music_A:hover {
	font-size: 26px;
	cursor:pointer;
}

ul {
	border: 1px solid #21F04F;
	border-radius: 10px;
	box-shadow: 20px 20px 8px #33960a;
	width: 10%;
	color: white;
	background-color: #21F04F;
	font-size: 23px;
}

small {
	font-size: 16px;
	font-weight: 0;
}

a {
	font-weight: bold;
	font-size: 19px;
	font-weight: 900;
}


#listD {
	position: relative;
}

#member_inform {
	color: white;
	font-size: 19px;
	font-weight: 600;
	border: 1px solid #7285F6;
	border-radius: 24px;
	padding: 10px;
	position: absolute;
	top: 15%;
	right: 17%;
	background-color: #7285F6;
	min-width: 30%;
	width: 30%;
	min-height: 45%;
	height: 45%;
	box-shadow: 23px 18px 12px #054573;
}

#textU {
	margin-top: 190px;
}

#Albert_Lovyshka {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	background-color: #E1DCDB;
	margin-top: 7%;
	font-size: 27px;
	font-weight: 900;
}

#FlagImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.AutorOfMemes {
	color: blue;
	font-weight: 900;
	font-size: 21px;
}

.AutorOfMemes:hover {
	font-size: 26px;
	font-weight: 900;
}

#OurAutors {
	font-weight: 900;
	font-size: 28px;
}

.MemImg {
	margin: 2%;
}
/**jgcvjgcgj/