#UserName {
	text-align: center;
	border: 0px solid lime;
	background-color: lime;
	color: white;
	width: 400px;
	min-height: 30px;
	min-width: 400px;
	border-radius: 18px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 50px; margin-bottom: 50px;
	padding: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #1b93e8;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: #1b93e8;
	font-size: 30px;
	font-weight: bold;
}

#Karl_Marks {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.member:hover {
	color: #0d9ce5;
	font-weight: bold;
}

#Albert_neponel {
	float: right;
	margin-bottom: 50px;
}

p {
	font-size: 21px;
	
}

#Hello {
	font-weight: bold;
	font-size: 23px;
	color: #fd9414;
}

ul {
	border: 1px solid #21F04F;
	border-radius: 10px;
	box-shadow: 20px 20px 8px #33960a;
	width: 150px;
	color: white;
	background-color: #21F04F;
	font-size: 23px;
}

small {
	font-size: 16px;
	font-weight: 0;
}

#enemies {
	background-color: #e81513;
	color: white;
}

a {
	font-weight: bold;
	font-size: 19px;
}


#listD {
	position: relative;
}

#member_inform {
	color: white;
	font-size: 19px;
	font-weight: 600;
	border: 1px solid #7285F6;
	border-radius: 24px;
	padding: 10px;
	position: absolute;
	top: 50px;
	right: 100px;
	background-color: #7285F6;
	min-width: 420px;
	width: 420px;
	min-height: 270px;
	height: 270px;
	box-shadow: 23px 18px 12px #054573;
}

#textU {
	margin-top: 190px;
}

#Albert_Lovyshka {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/**jgcvjgcgj/