#Emblem {
	position: block;
}

#EmblemHead {
	position: block;
}

#header {
	position: relative;
	margin-bottom: 7%;
}


.contacts {
	position: absolute;
	top: 10px;
	font-weight: 900;
	color: #1e94de;
	font-family: Florence, cursive;
}

#contacts_left {
	left: 12%;
}

#contacts_right {
	right: 12%;
}

h1 {
	color: #f38018;
	font-weight: 900;
	text-shadow: 8px 8px 6px grey;
}

#list_h {
	text-aligh: left;
}

#inform_h {
	text-align: center;
}

ul {
	font-size: 24px;
	font-weight: 700;
}

p {
	font-size: 20px;
}

.first_shop {
	color: #c33eb9;
}

.second_shop {
	color: #35af1d;
}

.discount {
	color: #ea1919;
	font-weight: 900;
	font-size: 26px;
}

.EmblemScript {
	position: absolute;
}

.EmblemList {
	position: absolute;
	top: 200%;
}





/*#d1 {
	background-color: grey;
}










footer {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: var(--footer-color)
}*/
